<div class="home-content">
    <img alt="Bosun Logo" height="500" ngSrc="bosun-logo.svg" priority width="500" />
    <div class="home-description">
        <p>
            Clusters added to
            <code>
                <span style="font-weight: bold; padding: 5px">~/.kube/config</span>
            </code>
            will be automatically added.
        </p>
        <p class="text-yellow-500">
            You can also add clusters manually in the catalogs page.
        </p>
        <a pButton routerLink="/catalogs">
            <i class="pi pi-list"></i>
            View Clusters in Catalog
            <i class="pi pi-chevron-right"></i>
        </a>
    </div>
</div>
