.app-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
}

.app-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 0;
}

a {
    text-decoration: none;
}
